@page
@model EvetWebsite.Pages.AboutModel
@{
    ViewData["Title"] = "About Me";

}
  
<div data-elementor-type="wp-post" data-elementor-id="1069" class="elementor elementor-1069">
    <section class="elementor-section elementor-top-section elementor-element elementor-element-d2e2c0e elementor-section-height-min-height elementor-section-items-stretch elementor-section-content-middle elementor-section-full_width elementor-section-height-default" data-id="d2e2c0e" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="elementor-background-overlay" style=" background-image: url(../img/bg00.jpg);"></div>
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3e7eeb7" data-id="3e7eeb7" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-725863c elementor-widget__width-initial elementor-widget elementor-widget-image animated fadeInDown" data-id="725863c" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInDown&quot;,&quot;_animation_delay&quot;:300}" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img decoding="async" fetchpriority="high" width="300" height="300" src="~/img/BG-1.png" class="attachment-full size-full wp-image-240" alt="" srcset="~/img/BG-1.png 300w, ~/img/BG-1-150x150.png 150w" sizes="(max-width: 300px) 100vw, 300px">
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-7e25b2b elementor-widget elementor-widget-heading animated fadeInUp" data-id="7e25b2b" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <style>
                                /*! elementor - v3.16.0 - 09-10-2023 */
                                .elementor-heading-title {
                                    padding: 0;
                                    margin: 0;
                                    line-height: 1
                                }

                                .elementor-widget-heading .elementor-heading-title[class*=elementor-size-] > a {
                                    color: inherit;
                                    font-size: inherit;
                                    line-height: inherit
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-small {
                                    font-size: 15px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-medium {
                                    font-size: 19px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-large {
                                    font-size: 29px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-xl {
                                    font-size: 39px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
                                    font-size: 59px
                                }
                            </style><h2 class="elementor-heading-title elementor-size-default">@ViewData["Title"]</h2>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-220dfe1 elementor-widget elementor-widget-text-editor animated fadeInUp" data-id="220dfe1" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            <style>
                                /*! elementor - v3.16.0 - 09-10-2023 */
                                .elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
                                    background-color: #69727d;
                                    color: #fff
                                }

                                .elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
                                    color: #69727d;
                                    border: 3px solid;
                                    background-color: transparent
                                }

                                .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
                                    margin-top: 8px
                                }

                                .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
                                    width: 1em;
                                    height: 1em
                                }

                                .elementor-widget-text-editor .elementor-drop-cap {
                                    float: left;
                                    text-align: center;
                                    line-height: 1;
                                    font-size: 50px
                                }

                                .elementor-widget-text-editor .elementor-drop-cap-letter {
                                    display: inline-block
                                }
                            </style>				<p><a href="#">Home</a> / @ViewData["Title"]</p>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-a7ffc64 elementor-widget__width-initial elementor-absolute elementor-widget elementor-widget-image animated fadeInUp" data-id="a7ffc64" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;,&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:300}" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img decoding="async" fetchpriority="high" width="300" height="300" src="~/img/BG-1.png" class="attachment-full size-full wp-image-240" alt="" srcset="~/img/BG-1.png 300w, ~/img/BG-1-150x150.png 150w" sizes="(max-width: 300px) 100vw, 300px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<style>
    .elementor-10 .elementor-element.elementor-element-d8b3ba4 {
        overflow: hidden;
        padding: .5em .4em .5em .4em;
    }
    p{
        text-align:justify !important;
    }
</style>


<div data-elementor-type="wp-post" data-elementor-id="10" class="elementor elementor-10">
    <section class="elementor-section elementor-top-section elementor-element elementor-element-d8b3ba4 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="d8b3ba4" data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-a6dd88b" data-id="a6dd88b" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-74fbcab elementor-widget elementor-widget-image animated fadeInLeft" data-id="74fbcab" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;}" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img decoding="async" fetchpriority="high" width="900" height="900" src="~/img/p.jpg" class="attachment-full size-full wp-image-179">
                        </div>
                    </div>
                     
                    <div class="elementor-element elementor-element-cc59add elementor-absolute elementor-widget elementor-widget-image animated fadeInUp" data-id="cc59add" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;,&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:300}" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img decoding="async" width="300" height="300" src="~/web/BG-1.png" class="attachment-full size-full wp-image-240" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3a308fa animated fadeInRight" data-id="3a308fa" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInRight&quot;,&quot;animation_delay&quot;:1000}">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-568841e elementor-widget elementor-widget-heading" data-id="568841e" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h2 class="elementor-heading-title elementor-size-default">Professor Oluwafunmilayo Josephine Para-Mallam, mni, FCPA</h2>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-245c3a3 elementor-widget elementor-widget-heading" data-id="245c3a3" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h3 class="elementor-heading-title elementor-size-default">PROFILE </h3>
                        </div>
                    </div>
                     
                    <div class="elementor-element elementor-element-588fd56 elementor-widget elementor-widget-text-editor" data-id="588fd56" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            <p>
                                Oluwafunmilayo J. Para-Mallam, mni is the Director of Studies and the first female member of Management. 
                            </p>
                            <p>
                                She holds a PhD in Development Studies from the University of Leeds, UK (2006) and is a Professor of Gender and Development, a Development Consultant and women’s rights activist. She has served at the National Institute since March 1989. She was born on 9th December 1963 in the UK where she attended John Stainer Primary School (1967-1974), London, In 1980, she graduated with a Grade One Distinction from St Teresa’s College, Ibadan and obtained a BA (Hons) in French/Portuguese from University of Ife, in 1984, a Masters of Arts in Law and Diplomacy from University of Jos in 1995 and a Diploma in Peace and Security from University of Uppsala, Sweden in 2009.

                            </p>
                            <p>
                                She also has a Masters in Missiology from All Nations College, UK (2022).

                            </p>
                        </div>
                    </div>
                     

                </div>
            </div>
        </div>
    </section>

    <section class="elementor-section elementor-top-section elementor-element elementor-element-d8b3ba4 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="d8b3ba4" data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
        
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3a308fa animated fadeInRight" data-id="3a308fa" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInRight&quot;,&quot;animation_delay&quot;:1000}">
                <div class="elementor-widget-wrap elementor-element-populated">
                   
                    
                    <div class="elementor-element elementor-element-588fd56 elementor-widget elementor-widget-text-editor" data-id="588fd56" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            <p>Professor Para-Mallam has travelled widely and attended conferences and professional training courses in Australia, Brazil, Burkina Faso, Canada, France, Ghana, Ivory Coast, Kenya, Mali, Poland, South Africa, Sweden, The Netherlands, UK, and the USA, among others. She is a Ford International Doctoral Fellow and an alumna of the Senior Executive Fellow of the John F. Kennedy School of Government at Harvard University.</p>
                            <p>After  joined the National Institute, Kuru in March 1989 as an Editorial Assistant, she rose to become Principal Editor before transferring to the Department of Research as a Fellow in 2001. She became a Senior Fellow in 2004 and in 2011was the first female to be appointed Professor in the National Institute. In 2013, she became a Member of the National Institute after participating in the NIPSS Senior Executive Course 35. In 2015, she became a Visiting Professor at the University of Jos, and a Visiting Scholar at Columbia University, New York in 2016. From 2016 to 2019, she served as a Directing Staff in the Directorate of Studies. </p>
                            <p>Prof Para-Mallam has served as a policy and leadership trainer, development consultant, resource person and principal investigator on a number of collaborative projects with State, national and international Agencies. These include Action Aid, Coalition for Religious Equality and Inclusive Development (CREID), DFID, Forum for Agricultural Research in Africa (FARA), Nigeria Defence College, UNESCO, UN Women, UNDP, The World Bank, and Women for Women International. She has been a guest lecturer and external examiner at the Institute for Security Studies, Abuja. </p>
                            <p>Para-Mallam has also been involved in national/institutional assignments related to policy development such as the draft Strategic Implementation Framework for the 2007 National Gender Policy, member, 2007 Gender Electoral Reform Committee, and member technical experts committee on UNDP Women in Politics programme. She was the lead consultant responsible for drafting the University of Jos Sexual Harassment Policy (2009), Women for Women International Advocacy training toolkit for grassroots women (2016), the National Emergency Agency (NEMA) Gender in Disaster Management Policy (2016), and the Gender and Health Policy of the Federal Ministry of Health (2018). In 2020, she chaired the Women and Governance Sub-Committee of the Technical Working Group that developed strategies on Women Affairs for the 2021-2025 Mid-Term National Development Plan. </p>
                            <p>
                                Prof Para-Mallam has won a number of international awards from the Ford Foundation, University of Birmingham, African Peace Building Network, Evangelical Press Association, among others.
                                Among her community service, literary, and academic awards and fellowships are the following: EPA Feature Article Award, Chicago, USA (2001); Ford Foundation International Doctoral Fellowship (2001); Cadbury Programme Fellowship at the Centre for West African Studies, University of Birmingham, UK (2006); African Peacebuilding Network (APN) fellowship grant (2012); and the Ford Foundation International Fellowships Program Archive Research Award from the Columbia University, New York (2016). She served as a Visiting Professor, member of Senate and Lecturer at the University of Jos (2015-2016) and was a Ford Foundation Visiting Scholar at Columbia University, New York (2016). In July 2020, she was elected Chairperson of the African Women’s Leadership Network (AWLN) Nigeria Chapter Steering Committee. She is the National Coordinator of Christian Women for Excellence and Empowerment in Nigerian Society (CWEENS) a women’s network focused on women empowerment, tackling gender-based violence, girl-child mentoring and female leadership development.
                            </p>
                            <p>She has over 70 publications and conference papers to her credit; over 40 per cent of her publications are published in peer-reviewed international journals and books. Her publications include: “Gender Dimensions of Peace and Security: Issues for Nigeria” (2004), “Faith and Gender Agendas in Nigeria: Conflicts, Challenges and Opportunities” (2006), Nigerian Women Speak: An Analysis of Government Policy on Women (2007), “Promoting Gender Equality in the Context of Nigerian Cultural and Religious Expression: Beyond Increasing Female Access to Education” (2010), “No Woman Wrapper in a Husband’s House: The Cultural Production of Hegemonic Masculinity in Nigeria” (2011); Nigeria’s 50 Years of Nation Building: Achievements, Challenges and Prospects (ed. 2011); Finding Durable Peace in Plateau State (ed. 2011); “Ethno-Religious Pluralism and its Management in Liberia and Ghana: Lessons for Nigeria (2012), “Gender Equality in Nigeria” (2017); Gender, Citizenship and Democratic Governance (2018) and Sexual Violence Against Women and Girls in Nigeria” (2022). Her research interests include gender and development policy, gender-based violence, gender, peace and security, governance and leadership development and public policy. </p>
                            <p>She is a member of professional bodies and organisational boards. These include: Life Member of the Nigerian Society of International Law, Member of the Institute of Directors, Member of  the Federation of Business and Professional Women, Member of the UNICEF Inclusive Policy Lab, and Fellow of the Chartered Institute of Local Government and Public Administration of Nigeria. In February 2023, she became one of 52 Nigerians appointed by President Muhammadu Buhari to serve on the Presidential High Level Advisory Committee on Women and Girls Empowerment in Nigeria. She loves to read, write, dance and dabble into interior decorating. </p>
                            <p>Prof Para-Mallam is happily married to the Revd. (Dr) Gideon Para-Mallam; they have five children and two grandchildren.  She and her husband are the founders of the Gideon and Funmi Peace Foundation; they enjoy mentoring young people, promoting inter-faith dialogue and social action, and they are Patrons of the National Christian Corpers’ Fellowship (NCCF). </p>
                         </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>


</div>




