@page
@model EvetWebsite.Pages.CWEENSModel
@{
    ViewData["Title"] = "CWEENS' Girls Education & Empowerment";

}

<div data-elementor-type="wp-post" data-elementor-id="1069" class="elementor elementor-1069">
    <section class="elementor-section elementor-top-section elementor-element elementor-element-d2e2c0e elementor-section-height-min-height elementor-section-items-stretch elementor-section-content-middle elementor-section-full_width elementor-section-height-default" data-id="d2e2c0e" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="elementor-background-overlay" style=" background-image: url(../img/bg00.jpg);"></div>
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3e7eeb7" data-id="3e7eeb7" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-725863c elementor-widget__width-initial elementor-widget elementor-widget-image animated fadeInDown" data-id="725863c" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInDown&quot;,&quot;_animation_delay&quot;:300}" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img decoding="async" fetchpriority="high" width="300" height="300" src="~/img/BG-1.png" class="attachment-full size-full wp-image-240" alt="" srcset="~/img/BG-1.png 300w, ~/img/BG-1-150x150.png 150w" sizes="(max-width: 300px) 100vw, 300px">
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-7e25b2b elementor-widget elementor-widget-heading animated fadeInUp" data-id="7e25b2b" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <style>
                                /*! elementor - v3.16.0 - 09-10-2023 */
                                .elementor-heading-title {
                                    padding: 0;
                                    margin: 0;
                                    line-height: 1
                                }

                                .elementor-widget-heading .elementor-heading-title[class*=elementor-size-] > a {
                                    color: inherit;
                                    font-size: inherit;
                                    line-height: inherit
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-small {
                                    font-size: 15px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-medium {
                                    font-size: 19px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-large {
                                    font-size: 29px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-xl {
                                    font-size: 39px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
                                    font-size: 59px
                                }
                            </style><h2 class="elementor-heading-title elementor-size-default">@ViewData["Title"]</h2>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-220dfe1 elementor-widget elementor-widget-text-editor animated fadeInUp" data-id="220dfe1" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            <style>
                                /*! elementor - v3.16.0 - 09-10-2023 */
                                .elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
                                    background-color: #69727d;
                                    color: #fff
                                }

                                .elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
                                    color: #69727d;
                                    border: 3px solid;
                                    background-color: transparent
                                }

                                .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
                                    margin-top: 8px
                                }

                                .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
                                    width: 1em;
                                    height: 1em
                                }

                                .elementor-widget-text-editor .elementor-drop-cap {
                                    float: left;
                                    text-align: center;
                                    line-height: 1;
                                    font-size: 50px
                                }

                                .elementor-widget-text-editor .elementor-drop-cap-letter {
                                    display: inline-block
                                }
                            </style>				<p><a href="#">Home</a> / @ViewData["Title"]</p>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-a7ffc64 elementor-widget__width-initial elementor-absolute elementor-widget elementor-widget-image animated fadeInUp" data-id="a7ffc64" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;,&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:300}" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img decoding="async" fetchpriority="high" width="300" height="300" src="~/img/BG-1.png" class="attachment-full size-full wp-image-240" alt="" srcset="~/img/BG-1.png 300w, ~/img/BG-1-150x150.png 150w" sizes="(max-width: 300px) 100vw, 300px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="elementor-section elementor-top-section elementor-element elementor-element-d8b3ba4 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="d8b3ba4" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-a6dd88b" data-id="a6dd88b" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="youtube-embed">
                    <iframe width="420" height="315" src="https://www.youtube.com/embed/347GcEx3UT4?autoplay=1" allow='autoplay' frameborder="0" allowfullscreen=""></iframe>
                 </div>
                <style>
                    .youtube-embed {
                        position: relative;
                        padding-bottom: 56%;
                        width: 100%;
                        text-align: left;
                    }

                        .youtube-embed iframe {
                            width: 100%;
                            position: absolute;
                            height: 100%;
                            overflow: hidden;
                        }
                </style>
            </div>
        </div>
        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3a308fa animated fadeInRight" data-id="3a308fa" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInRight&quot;,&quot;animation_delay&quot;:1000}">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-568841e elementor-widget elementor-widget-heading" data-id="568841e" data-element_type="widget" data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                        <h2 class="elementor-heading-title elementor-size-default" style="color: #f58b00;">You can educate & empower 500 girls today</h2>
                    </div>
                </div>
                <div class="elementor-element elementor-element-245c3a3 elementor-widget elementor-widget-heading" data-id="245c3a3" data-element_type="widget" data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                        <h4 class="elementor-heading-title elementor-size-default">CWEENS' Girls Education & Empowerment</h4>
                    </div>
                </div>
                <div class="elementor-element elementor-element-985f530 elementor-widget elementor-widget-text-editor" data-id="985f530" data-element_type="widget" data-widget_type="text-editor.default">
                    <div class="elementor-widget-container">
                        <p>Help us empower 500 girls today and be a part of creating a brighter future for the girl child in Nigeria. Your donation can make a life-changing difference.</p>
                    </div>
                </div>
                <div class="elementor-element elementor-element-588fd56 elementor-widget elementor-widget-text-editor" data-id="588fd56" data-element_type="widget" data-widget_type="text-editor.default">
                    <div class="elementor-widget-container">
                        <p>
                            CWEENS' Girls Education & Empowerment Home School is project that seek to provide a safe learning and living environment for 500 vulnerable girls who are at risk or survivors of violence.
                           
                            <br />
                            Partner with us to raise 250 million for landed property or donate a hall for fame block in your name to our GEEHS funs.
                            <br />
                            
                            <h5>
                                Sponsor 1 girl's education & living costs @@ 24,500 per month.
                            </h5>
                            <h4> Sponsorship details:</h4>
                            </p>
                        <p>
                            CWEENS-GIRLS EDUCATIONAL ENVIROMENT HOME SCHOOL (GEEHS) 2002084375 (FCMB)
                            <br /> 
                            For those in diaspora, through our GoFundMe account by clicking on the Donate Now
                        </p>

                    </div>
                </div>
                <div class="elementor-element elementor-element-3d48aa0 elementor-align-left elementor-widget__width-initial elementor-mobile-align-center elementor-widget elementor-widget-button" data-id="3d48aa0" data-element_type="widget" data-widget_type="button.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-button-wrapper">
                            <a class="elementor-button elementor-button-link elementor-size-md elementor-animation-shrink" target="_blank" href="http://gofund.me/3af79d5b" style="margin-bottom:5px;">
                                <span class="elementor-button-content-wrapper">
                                    <span class="elementor-button-text">Donate Now</span>
                                </span>
                            </a>
                            <a class="elementor-button elementor-button-link elementor-size-md elementor-animation-shrink" target="_blank" href="https://www.youtube.com/@@cweensnigeria8336">
                                <span class="elementor-button-content-wrapper">
                                    <span class="elementor-button-text">Our Youtube Channel for More Updates</span>
                                </span>
                            </a>

                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<div class="elementor elementor-10">

    <section class="elementor-section elementor-top-section elementor-element elementor-element-cf74c11 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="cf74c11" data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-0b46d1d elementor-invisible" data-id="0b46d1d" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInLeft&quot;}">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-938b257 elementor-widget elementor-widget-image" data-id="938b257" data-element_type="widget" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img decoding="async" loading="lazy" width="900" height="900" src="~/img/a123.jpg" class="attachment-full size-full wp-image-433" alt="">
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-dbf4230 elementor-widget__width-initial elementor-absolute elementor-widget elementor-widget-spacer" data-id="dbf4230" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="spacer.default">
                        <div class="elementor-widget-container">
                            <style>
                                /*! elementor - v3.15.0 - 20-08-2023 */
                                .elementor-column .elementor-spacer-inner {
                                    height: var(--spacer-size)
                                }

                                .e-con {
                                    --container-widget-width: 100%
                                }

                                    .e-con-inner > .elementor-widget-spacer, .e-con > .elementor-widget-spacer {
                                        width: var(--container-widget-width,var(--spacer-size));
                                        --align-self: var(--container-widget-align-self,initial);
                                        --flex-shrink: 0
                                    }

                                        .e-con-inner > .elementor-widget-spacer > .elementor-widget-container, .e-con-inner > .elementor-widget-spacer > .elementor-widget-container > .elementor-spacer, .e-con > .elementor-widget-spacer > .elementor-widget-container, .e-con > .elementor-widget-spacer > .elementor-widget-container > .elementor-spacer {
                                            height: 100%
                                        }

                                            .e-con-inner > .elementor-widget-spacer > .elementor-widget-container > .elementor-spacer > .elementor-spacer-inner, .e-con > .elementor-widget-spacer > .elementor-widget-container > .elementor-spacer > .elementor-spacer-inner {
                                                height: var(--container-widget-height,var(--spacer-size))
                                            }
                            </style>		<div class="elementor-spacer">
                                <div class="elementor-spacer-inner"></div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-75d4905 elementor-absolute elementor-invisible elementor-widget elementor-widget-image" data-id="75d4905" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;,&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:300}" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img decoding="async" width="300" height="300" src="~/web/BG-1.png" class="attachment-full size-full wp-image-240" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3c423d3" data-id="3c423d3" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">

                    <div class="elementor-element elementor-element-3daf0b2 elementor-position-left elementor-view-default elementor-mobile-position-top elementor-vertical-align-top elementor-invisible elementor-widget elementor-widget-icon-box" data-id="3daf0b2" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;bounceInRight&quot;}" data-widget_type="icon-box.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-icon-box-wrapper">
                                <div class="elementor-icon-box-icon">
                                    <span class="elementor-icon elementor-animation-">
                                        <i aria-hidden="true" class="icon icon-user"></i>
                                    </span>
                                </div>
                                <div class="elementor-icon-box-content">

                                    <p class="elementor-icon-box-description">
                                        At the age of 60, I reflect on a life filled with God's favor, mercy, compassion, and grace, realizing that I am truly blessed. To celebrate this milestone, I want to make a meaningful impact in a way that aligns with my deepest concerns about society, particularly in Nigeria. My passion lies in empowering and supporting the girl child, who often faces danger, violence, and limited opportunities in our country.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-6b6d68a elementor-position-left elementor-view-default elementor-mobile-position-top elementor-vertical-align-top elementor-invisible elementor-widget elementor-widget-icon-box" data-id="6b6d68a" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;bounceInRight&quot;,&quot;_animation_delay&quot;:300}" data-widget_type="icon-box.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-icon-box-wrapper">
                                <div class="elementor-icon-box-icon">
                                    <span class="elementor-icon elementor-animation-">
                                        <i aria-hidden="true" class="icon icon-user"></i>
                                    </span>
                                </div>
                                <div class="elementor-icon-box-content">

                                    <p class="elementor-icon-box-description">
                                        In pursuit of this goal, I am working on a book tailored specifically for Nigerian universities and colleges, focusing on local knowledge and experiences. The aim is to provide young people with a unique educational resource that doesn't merely borrow from Western ideas but draws from our own rich cultural context. Additionally, I lead a shelter called Kankme House, which is run by Queens, Christian Women for Excellence and Empowerment in the Nigerian Society. At our shelter, we provide a safe haven and education for girls in need, ensuring they can continue their schooling while feeling secure and at home. This experience has reinforced the importance of creating such supportive environments for vulnerable girls in Nigeria.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</div>
