@page
@model EvetWebsite.Pages.PreorderModel


@{
    ViewData["Title"] = "Pre Order on Gender and Development in Nigeria: Concepts, Issues and Strategies by Prof. O.J Para-Mallam, mni";
}
<div data-elementor-type="wp-post" data-elementor-id="1069" class="elementor elementor-1069">
    <section class="elementor-section elementor-top-section elementor-element elementor-element-d2e2c0e elementor-section-height-min-height elementor-section-items-stretch elementor-section-content-middle elementor-section-full_width elementor-section-height-default" data-id="d2e2c0e" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="elementor-background-overlay" style=" background-image: url(../img/bg00.jpg);"></div>
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3e7eeb7" data-id="3e7eeb7" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-725863c elementor-widget__width-initial elementor-widget elementor-widget-image animated fadeInDown" data-id="725863c" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInDown&quot;,&quot;_animation_delay&quot;:300}" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img decoding="async" fetchpriority="high" width="300" height="300" src="~/img/BG-1.png" class="attachment-full size-full wp-image-240" alt="" srcset="~/img/BG-1.png 300w, ~/img/BG-1-150x150.png 150w" sizes="(max-width: 300px) 100vw, 300px">
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-7e25b2b elementor-widget elementor-widget-heading animated fadeInUp" data-id="7e25b2b" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <style>
                                /*! elementor - v3.16.0 - 09-10-2023 */
                                .elementor-heading-title {
                                    padding: 0;
                                    margin: 0;
                                    line-height: 1
                                }

                                .elementor-widget-heading .elementor-heading-title[class*=elementor-size-] > a {
                                    color: inherit;
                                    font-size: inherit;
                                    line-height: inherit
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-small {
                                    font-size: 15px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-medium {
                                    font-size: 19px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-large {
                                    font-size: 29px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-xl {
                                    font-size: 39px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
                                    font-size: 59px
                                }
                            </style><h2 class="elementor-heading-title elementor-size-default">@ViewData["Title"]</h2>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-220dfe1 elementor-widget elementor-widget-text-editor animated fadeInUp" data-id="220dfe1" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            <style>
                                /*! elementor - v3.16.0 - 09-10-2023 */
                                .elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
                                    background-color: #69727d;
                                    color: #fff
                                }

                                .elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
                                    color: #69727d;
                                    border: 3px solid;
                                    background-color: transparent
                                }

                                .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
                                    margin-top: 8px
                                }

                                .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
                                    width: 1em;
                                    height: 1em
                                }

                                .elementor-widget-text-editor .elementor-drop-cap {
                                    float: left;
                                    text-align: center;
                                    line-height: 1;
                                    font-size: 50px
                                }

                                .elementor-widget-text-editor .elementor-drop-cap-letter {
                                    display: inline-block
                                }
                            </style>				<p><a href="#">Home</a> </p>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-a7ffc64 elementor-widget__width-initial elementor-absolute elementor-widget elementor-widget-image animated fadeInUp" data-id="a7ffc64" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;,&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:300}" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img decoding="async" fetchpriority="high" width="300" height="300" src="~/img/BG-1.png" class="attachment-full size-full wp-image-240" alt="" srcset="~/img/BG-1.png 300w, ~/img/BG-1-150x150.png 150w" sizes="(max-width: 300px) 100vw, 300px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="elementor-section elementor-top-section elementor-element elementor-element-d8c1bf3 elementor-reverse-tablet elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="d8c1bf3" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">

        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f07102d animated fadeInUp" data-id="f07102d" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;animation_delay&quot;:300}">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-39397d4 elementor-widget elementor-widget-rform" data-id="39397d4" data-element_type="widget" data-widget_type="rform.default">
                    <div class="elementor-widget-container">
                        <style>
                            .elementor-717 .elementor-element.elementor-element-b730692:not(.elementor-motion-effects-element-type-background) >
                            .elementor-widget-wrap, .elementor-717 .elementor-element.elementor-element-b730692 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
                                background-color: var( --e-global-color-4869b57 );
                            }

                            .elementor-717 .elementor-element.elementor-element-b730692 > .elementor-element-populated > .elementor-background-overlay {
                                background-image: url("../img/Paramallam-bdaycccx.jpg");
                                background-size: cover;
                                opacity: 0.1;
                                filter: brightness( 100% ) contrast( 100% ) saturate( 0% ) blur( 0px ) hue-rotate( 0deg );
                            }

                            .elementor-717 .elementor-element.elementor-element-b730692 > .elementor-element-populated {
                                transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
                                padding: 2em 2em 2em 2em;
                            }

                                .elementor-717 .elementor-element.elementor-element-b730692 > .elementor-element-populated > .elementor-background-overlay {
                                    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
                                }

                            .elementor-717 .elementor-element.elementor-element-f41b4e2 {
                                text-align: left;
                            }

                                .elementor-717 .elementor-element.elementor-element-f41b4e2 .elementor-heading-title {
                                    color: var( --e-global-color-51cbe6e );
                                }

                            .elementor-717 .elementor-element.elementor-element-961ffc0 > .elementor-element-populated {
                                padding: 0px 10px 0px 0px;
                            }

                            .elementor-717 .elementor-element.elementor-element-abc1033 .rform-input {
                                padding: 15px 15px 15px 25px;
                                margin: 0px 0px 0px 0px;
                                font-family: var( --e-global-typography-bd70e25-font-family ), Sans-serif;
                                font-size: var( --e-global-typography-bd70e25-font-size );
                                font-weight: var( --e-global-typography-bd70e25-font-weight );
                                line-height: var( --e-global-typography-bd70e25-line-height );
                                letter-spacing: var( --e-global-typography-bd70e25-letter-spacing );
                                word-spacing: var( --e-global-typography-bd70e25-word-spacing );
                                color: var( --e-global-color-text );
                                background-color: var( --e-global-color-3ba764f );
                                border-style: solid;
                                border-width: 1px 1px 1px 1px;
                                border-color: var( --e-global-color-b7724c8 );
                            }

                                .elementor-717 .elementor-element.elementor-element-abc1033 .rform-input:focus {
                                    color: var( --e-global-color-primary );
                                }

                                .elementor-717 .elementor-element.elementor-element-abc1033 .rform-input[aria-invalid="true"] {
                                    color: var( --e-global-color-34e4995 );
                                }

                                .elementor-717 .elementor-element.elementor-element-abc1033 .rform-input::placeholder {
                                    color: var( --e-global-color-text );
                                    font-family: var( --e-global-typography-bd70e25-font-family ), Sans-serif;
                                    font-size: var( --e-global-typography-bd70e25-font-size );
                                    font-weight: var( --e-global-typography-bd70e25-font-weight );
                                    line-height: var( --e-global-typography-bd70e25-line-height );
                                    letter-spacing: var( --e-global-typography-bd70e25-letter-spacing );
                                    word-spacing: var( --e-global-typography-bd70e25-word-spacing );
                                }

                                .elementor-717 .elementor-element.elementor-element-abc1033 .rform-input::-webkit-input-placeholder {
                                    color: var( --e-global-color-text );
                                }

                                .elementor-717 .elementor-element.elementor-element-abc1033 .rform-input::-ms-input-placeholder {
                                    color: var( --e-global-color-text );
                                }

                            .elementor-717 .elementor-element.elementor-element-abc1033 .rform-error {
                                text-align: left;
                                color: var( --e-global-color-34e4995 );
                                font-family: var( --e-global-typography-bd70e25-font-family ), Sans-serif;
                                font-size: var( --e-global-typography-bd70e25-font-size );
                                font-weight: var( --e-global-typography-bd70e25-font-weight );
                                line-height: var( --e-global-typography-bd70e25-line-height );
                                letter-spacing: var( --e-global-typography-bd70e25-letter-spacing );
                                word-spacing: var( --e-global-typography-bd70e25-word-spacing );
                            }

                            .elementor-717 .elementor-element.elementor-element-631971d > .elementor-element-populated {
                                padding: 0px 0px 0px 10px;
                            }

                            .elementor-717 .elementor-element.elementor-element-6913ee8 .rform-input {
                                padding: 15px 15px 15px 25px;
                                margin: 0px 0px 0px 0px;
                                font-family: var( --e-global-typography-bd70e25-font-family ), Sans-serif;
                                font-size: var( --e-global-typography-bd70e25-font-size );
                                font-weight: var( --e-global-typography-bd70e25-font-weight );
                                line-height: var( --e-global-typography-bd70e25-line-height );
                                letter-spacing: var( --e-global-typography-bd70e25-letter-spacing );
                                word-spacing: var( --e-global-typography-bd70e25-word-spacing );
                                color: var( --e-global-color-text );
                                background-color: var( --e-global-color-3ba764f );
                                border-style: solid;
                                border-width: 1px 1px 1px 1px;
                                border-color: var( --e-global-color-b7724c8 );
                            }

                                .elementor-717 .elementor-element.elementor-element-6913ee8 .rform-input:focus {
                                    color: var( --e-global-color-primary );
                                }

                                .elementor-717 .elementor-element.elementor-element-6913ee8 .rform-input[aria-invalid="true"] {
                                    color: var( --e-global-color-34e4995 );
                                }

                                .elementor-717 .elementor-element.elementor-element-6913ee8 .rform-input::placeholder {
                                    color: var( --e-global-color-text );
                                    font-family: var( --e-global-typography-bd70e25-font-family ), Sans-serif;
                                    font-size: var( --e-global-typography-bd70e25-font-size );
                                    font-weight: var( --e-global-typography-bd70e25-font-weight );
                                    line-height: var( --e-global-typography-bd70e25-line-height );
                                    letter-spacing: var( --e-global-typography-bd70e25-letter-spacing );
                                    word-spacing: var( --e-global-typography-bd70e25-word-spacing );
                                }

                                .elementor-717 .elementor-element.elementor-element-6913ee8 .rform-input::-webkit-input-placeholder {
                                    color: var( --e-global-color-text );
                                }

                                .elementor-717 .elementor-element.elementor-element-6913ee8 .rform-input::-ms-input-placeholder {
                                    color: var( --e-global-color-text );
                                }

                            .elementor-717 .elementor-element.elementor-element-6913ee8 .rform-error {
                                text-align: left;
                                color: var( --e-global-color-34e4995 );
                                font-family: var( --e-global-typography-bd70e25-font-family ), Sans-serif;
                                font-size: var( --e-global-typography-bd70e25-font-size );
                                font-weight: var( --e-global-typography-bd70e25-font-weight );
                                line-height: var( --e-global-typography-bd70e25-line-height );
                                letter-spacing: var( --e-global-typography-bd70e25-letter-spacing );
                                word-spacing: var( --e-global-typography-bd70e25-word-spacing );
                            }

                            .elementor-717 .elementor-element.elementor-element-492ff37 .rform-input {
                                padding: 15px 15px 15px 25px;
                                font-family: var( --e-global-typography-bd70e25-font-family ), Sans-serif;
                                font-size: var( --e-global-typography-bd70e25-font-size );
                                font-weight: var( --e-global-typography-bd70e25-font-weight );
                                line-height: var( --e-global-typography-bd70e25-line-height );
                                letter-spacing: var( --e-global-typography-bd70e25-letter-spacing );
                                word-spacing: var( --e-global-typography-bd70e25-word-spacing );
                                color: var( --e-global-color-text );
                                background-color: var( --e-global-color-3ba764f );
                                border-style: solid;
                                border-width: 1px 1px 1px 1px;
                                border-color: var( --e-global-color-b7724c8 );
                            }

                                .elementor-717 .elementor-element.elementor-element-492ff37 .rform-input:focus {
                                    color: var( --e-global-color-primary );
                                }

                                .elementor-717 .elementor-element.elementor-element-492ff37 .rform-input[aria-invalid="true"] {
                                    color: var( --e-global-color-34e4995 );
                                }

                                .elementor-717 .elementor-element.elementor-element-492ff37 .rform-input::placeholder {
                                    color: var( --e-global-color-text );
                                    font-family: var( --e-global-typography-bd70e25-font-family ), Sans-serif;
                                    font-size: var( --e-global-typography-bd70e25-font-size );
                                    font-weight: var( --e-global-typography-bd70e25-font-weight );
                                    line-height: var( --e-global-typography-bd70e25-line-height );
                                    letter-spacing: var( --e-global-typography-bd70e25-letter-spacing );
                                    word-spacing: var( --e-global-typography-bd70e25-word-spacing );
                                }

                                .elementor-717 .elementor-element.elementor-element-492ff37 .rform-input::-webkit-input-placeholder {
                                    color: var( --e-global-color-text );
                                }

                                .elementor-717 .elementor-element.elementor-element-492ff37 .rform-input::-ms-input-placeholder {
                                    color: var( --e-global-color-text );
                                }

                            .elementor-717 .elementor-element.elementor-element-492ff37 .rform-error {
                                text-align: left;
                                color: var( --e-global-color-34e4995 );
                                font-family: var( --e-global-typography-bd70e25-font-family ), Sans-serif;
                                font-size: var( --e-global-typography-bd70e25-font-size );
                                font-weight: var( --e-global-typography-bd70e25-font-weight );
                                line-height: var( --e-global-typography-bd70e25-line-height );
                                letter-spacing: var( --e-global-typography-bd70e25-letter-spacing );
                                word-spacing: var( --e-global-typography-bd70e25-word-spacing );
                            }

                            .elementor-717 .elementor-element.elementor-element-492ff37 > .elementor-widget-container {
                                padding: 20px 0px 0px 0px;
                            }

                            .elementor-717 .elementor-element.elementor-element-dc81c7b .rform-input {
                                padding: 15px 15px 15px 25px;
                                font-family: "PT Sans", Sans-serif;
                                font-size: 0.9rem;
                                font-weight: 400;
                                line-height: 1.2em;
                                color: var( --e-global-color-text );
                                background-color: var( --e-global-color-3ba764f );
                                border-style: solid;
                                border-width: 1px 1px 1px 1px;
                                border-color: var( --e-global-color-b7724c8 );
                            }

                                .elementor-717 .elementor-element.elementor-element-dc81c7b .rform-input:focus {
                                    color: var( --e-global-color-primary );
                                }

                                .elementor-717 .elementor-element.elementor-element-dc81c7b .rform-input[aria-invalid="true"] {
                                    color: var( --e-global-color-34e4995 );
                                }

                                .elementor-717 .elementor-element.elementor-element-dc81c7b .rform-input::placeholder {
                                    color: var( --e-global-color-text );
                                    font-family: "PT Sans", Sans-serif;
                                    font-size: 0.9rem;
                                    font-weight: 400;
                                    line-height: 1.2em;
                                }

                                .elementor-717 .elementor-element.elementor-element-dc81c7b .rform-input::-webkit-input-placeholder {
                                    color: var( --e-global-color-text );
                                }

                                .elementor-717 .elementor-element.elementor-element-dc81c7b .rform-input::-ms-input-placeholder {
                                    color: var( --e-global-color-text );
                                }

                            .elementor-717 .elementor-element.elementor-element-dc81c7b .rform-error {
                                text-align: left;
                                color: var( --e-global-color-34e4995 );
                                font-family: "PT Sans", Sans-serif;
                                font-size: 0.9rem;
                                font-weight: 400;
                                line-height: 1.2px;
                            }

                            .elementor-717 .elementor-element.elementor-element-dd32949 .rform-input {
                                height: 185px;
                                padding: 15px 15px 15px 25px;
                                font-family: "PT Sans", Sans-serif;
                                font-size: 0.9rem;
                                font-weight: 400;
                                line-height: 1.2em;
                                border-radius: 25px;
                                color: var( --e-global-color-text );
                                background-color: var( --e-global-color-3ba764f );
                                border-style: solid;
                                border-width: 1px 1px 1px 1px;
                                border-color: var( --e-global-color-b7724c8 );
                            }

                                .elementor-717 .elementor-element.elementor-element-dd32949 .rform-input:focus {
                                    color: var( --e-global-color-primary );
                                }

                                .elementor-717 .elementor-element.elementor-element-dd32949 .rform-input[aria-invalid="true"] {
                                    color: var( --e-global-color-34e4995 );
                                }

                                .elementor-717 .elementor-element.elementor-element-dd32949 .rform-input::placeholder {
                                    color: var( --e-global-color-text );
                                    font-family: "PT Sans", Sans-serif;
                                    font-size: 0.9rem;
                                    font-weight: 400;
                                    line-height: 1.2em;
                                }

                                .elementor-717 .elementor-element.elementor-element-dd32949 .rform-input::-webkit-input-placeholder {
                                    color: var( --e-global-color-text );
                                }

                                .elementor-717 .elementor-element.elementor-element-dd32949 .rform-input::-ms-input-placeholder {
                                    color: var( --e-global-color-text );
                                }

                            .elementor-717 .elementor-element.elementor-element-dd32949 .rform-error {
                                text-align: left;
                                color: var( --e-global-color-34e4995 );
                                font-family: "PT Sans", Sans-serif;
                                font-size: 0.9rem;
                                font-weight: 400;
                                line-height: 1.2px;
                            }

                            .elementor-717 .elementor-element.elementor-element-ce8a192 .rform-button-submit {
                                padding: 15px 15px 15px 15px;
                                border-style: none;
                            }

                            .elementor-717 .elementor-element.elementor-element-ce8a192 .rform-btn-icon {
                                font-size: 20px;
                                padding-left: 5px;
                            }

                            @@media(max-width:1024px) {
                                .elementor-717 .elementor-element.elementor-element-abc1033 .rform-input {
                                    font-size: var( --e-global-typography-bd70e25-font-size );
                                    line-height: var( --e-global-typography-bd70e25-line-height );
                                    letter-spacing: var( --e-global-typography-bd70e25-letter-spacing );
                                    word-spacing: var( --e-global-typography-bd70e25-word-spacing );
                                }

                                    .elementor-717 .elementor-element.elementor-element-abc1033 .rform-input::placeholder {
                                        font-size: var( --e-global-typography-bd70e25-font-size );
                                        line-height: var( --e-global-typography-bd70e25-line-height );
                                        letter-spacing: var( --e-global-typography-bd70e25-letter-spacing );
                                        word-spacing: var( --e-global-typography-bd70e25-word-spacing );
                                    }

                                .elementor-717 .elementor-element.elementor-element-abc1033 .rform-error {
                                    font-size: var( --e-global-typography-bd70e25-font-size );
                                    line-height: var( --e-global-typography-bd70e25-line-height );
                                    letter-spacing: var( --e-global-typography-bd70e25-letter-spacing );
                                    word-spacing: var( --e-global-typography-bd70e25-word-spacing );
                                }

                                .elementor-717 .elementor-element.elementor-element-6913ee8 .rform-input {
                                    font-size: var( --e-global-typography-bd70e25-font-size );
                                    line-height: var( --e-global-typography-bd70e25-line-height );
                                    letter-spacing: var( --e-global-typography-bd70e25-letter-spacing );
                                    word-spacing: var( --e-global-typography-bd70e25-word-spacing );
                                }

                                    .elementor-717 .elementor-element.elementor-element-6913ee8 .rform-input::placeholder {
                                        font-size: var( --e-global-typography-bd70e25-font-size );
                                        line-height: var( --e-global-typography-bd70e25-line-height );
                                        letter-spacing: var( --e-global-typography-bd70e25-letter-spacing );
                                        word-spacing: var( --e-global-typography-bd70e25-word-spacing );
                                    }

                                .elementor-717 .elementor-element.elementor-element-6913ee8 .rform-error {
                                    font-size: var( --e-global-typography-bd70e25-font-size );
                                    line-height: var( --e-global-typography-bd70e25-line-height );
                                    letter-spacing: var( --e-global-typography-bd70e25-letter-spacing );
                                    word-spacing: var( --e-global-typography-bd70e25-word-spacing );
                                }

                                .elementor-717 .elementor-element.elementor-element-492ff37 .rform-input {
                                    font-size: var( --e-global-typography-bd70e25-font-size );
                                    line-height: var( --e-global-typography-bd70e25-line-height );
                                    letter-spacing: var( --e-global-typography-bd70e25-letter-spacing );
                                    word-spacing: var( --e-global-typography-bd70e25-word-spacing );
                                }

                                    .elementor-717 .elementor-element.elementor-element-492ff37 .rform-input::placeholder {
                                        font-size: var( --e-global-typography-bd70e25-font-size );
                                        line-height: var( --e-global-typography-bd70e25-line-height );
                                        letter-spacing: var( --e-global-typography-bd70e25-letter-spacing );
                                        word-spacing: var( --e-global-typography-bd70e25-word-spacing );
                                    }

                                .elementor-717 .elementor-element.elementor-element-492ff37 .rform-error {
                                    font-size: var( --e-global-typography-bd70e25-font-size );
                                    line-height: var( --e-global-typography-bd70e25-line-height );
                                    letter-spacing: var( --e-global-typography-bd70e25-letter-spacing );
                                    word-spacing: var( --e-global-typography-bd70e25-word-spacing );
                                }
                            }

                            @@media(max-width:767px) {
                                .elementor-717 .elementor-element.elementor-element-b730692 > .elementor-element-populated {
                                    padding: 1em 1em 1em 1em;
                                }

                                .elementor-717 .elementor-element.elementor-element-961ffc0 > .elementor-element-populated {
                                    padding: 0px 0px 20px 0px;
                                }

                                .elementor-717 .elementor-element.elementor-element-abc1033 .rform-input {
                                    font-size: var( --e-global-typography-bd70e25-font-size );
                                    line-height: var( --e-global-typography-bd70e25-line-height );
                                    letter-spacing: var( --e-global-typography-bd70e25-letter-spacing );
                                    word-spacing: var( --e-global-typography-bd70e25-word-spacing );
                                }

                                    .elementor-717 .elementor-element.elementor-element-abc1033 .rform-input::placeholder {
                                        font-size: var( --e-global-typography-bd70e25-font-size );
                                        line-height: var( --e-global-typography-bd70e25-line-height );
                                        letter-spacing: var( --e-global-typography-bd70e25-letter-spacing );
                                        word-spacing: var( --e-global-typography-bd70e25-word-spacing );
                                    }

                                .elementor-717 .elementor-element.elementor-element-abc1033 .rform-error {
                                    font-size: var( --e-global-typography-bd70e25-font-size );
                                    line-height: var( --e-global-typography-bd70e25-line-height );
                                    letter-spacing: var( --e-global-typography-bd70e25-letter-spacing );
                                    word-spacing: var( --e-global-typography-bd70e25-word-spacing );
                                }

                                .elementor-717 .elementor-element.elementor-element-631971d > .elementor-element-populated {
                                    padding: 0px 0px 0px 0px;
                                }

                                .elementor-717 .elementor-element.elementor-element-6913ee8 .rform-input {
                                    font-size: var( --e-global-typography-bd70e25-font-size );
                                    line-height: var( --e-global-typography-bd70e25-line-height );
                                    letter-spacing: var( --e-global-typography-bd70e25-letter-spacing );
                                    word-spacing: var( --e-global-typography-bd70e25-word-spacing );
                                }

                                    .elementor-717 .elementor-element.elementor-element-6913ee8 .rform-input::placeholder {
                                        font-size: var( --e-global-typography-bd70e25-font-size );
                                        line-height: var( --e-global-typography-bd70e25-line-height );
                                        letter-spacing: var( --e-global-typography-bd70e25-letter-spacing );
                                        word-spacing: var( --e-global-typography-bd70e25-word-spacing );
                                    }

                                .elementor-717 .elementor-element.elementor-element-6913ee8 .rform-error {
                                    font-size: var( --e-global-typography-bd70e25-font-size );
                                    line-height: var( --e-global-typography-bd70e25-line-height );
                                    letter-spacing: var( --e-global-typography-bd70e25-letter-spacing );
                                    word-spacing: var( --e-global-typography-bd70e25-word-spacing );
                                }

                                .elementor-717 .elementor-element.elementor-element-492ff37 .rform-input {
                                    font-size: var( --e-global-typography-bd70e25-font-size );
                                    line-height: var( --e-global-typography-bd70e25-line-height );
                                    letter-spacing: var( --e-global-typography-bd70e25-letter-spacing );
                                    word-spacing: var( --e-global-typography-bd70e25-word-spacing );
                                }

                                    .elementor-717 .elementor-element.elementor-element-492ff37 .rform-input::placeholder {
                                        font-size: var( --e-global-typography-bd70e25-font-size );
                                        line-height: var( --e-global-typography-bd70e25-line-height );
                                        letter-spacing: var( --e-global-typography-bd70e25-letter-spacing );
                                        word-spacing: var( --e-global-typography-bd70e25-word-spacing );
                                    }

                                .elementor-717 .elementor-element.elementor-element-492ff37 .rform-error {
                                    font-size: var( --e-global-typography-bd70e25-font-size );
                                    line-height: var( --e-global-typography-bd70e25-line-height );
                                    letter-spacing: var( --e-global-typography-bd70e25-letter-spacing );
                                    word-spacing: var( --e-global-typography-bd70e25-word-spacing );
                                }
                            }

                            .elementor .elementor-background-overlay, .elementor .elementor-background-slideshow {
                                height: 100%;
                                width: 100%;
                                top: 0;
                                left: 0;
                                position: absolute;
                                z-index: 1;
                            }

                            form {
                                z-index: 979 !important;
                            }

                            label {
                                color: white;
                                font-weight: 900;
                            }
                        </style>
                        <div data-elementor-type="wp-post" data-elementor-id="717" class="elementor elementor-717">
                            <section class="elementor-section elementor-top-section elementor-element elementor-element-75c95fd elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="75c95fd" data-element_type="section">
                                <div class="">
                                    <div class="row">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-6">
                                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b730692">
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div class="elementor-background-overlay" style="background-image: url(../img/bg123.jpg);"></div>
                                                     
                                                    <form method="post">
                                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                        <div class="form-group">
                                                            <label asp-for="PreorderForm.Email" class="control-label"></label>
                                                            <input asp-for="PreorderForm.Email" class="form-control" />
                                                            <span asp-validation-for="PreorderForm.Email" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label asp-for="PreorderForm.FirstName" class="control-label"></label>
                                                            <input asp-for="PreorderForm.FirstName" class="form-control" />
                                                            <span asp-validation-for="PreorderForm.FirstName" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label asp-for="PreorderForm.LastName" class="control-label"></label>
                                                            <input asp-for="PreorderForm.LastName" class="form-control" />
                                                            <span asp-validation-for="PreorderForm.LastName" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label asp-for="PreorderForm.PhoneNumber" class="control-label"></label>
                                                            <input asp-for="PreorderForm.PhoneNumber" class="form-control" />
                                                            <span asp-validation-for="PreorderForm.PhoneNumber" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label asp-for="PreorderForm.StreetAddress" class="control-label"></label>
                                                            <input asp-for="PreorderForm.StreetAddress" class="form-control" />
                                                            <span asp-validation-for="PreorderForm.StreetAddress" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label asp-for="PreorderForm.City" class="control-label"></label>
                                                            <input asp-for="PreorderForm.City" class="form-control" />
                                                            <span asp-validation-for="PreorderForm.City" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label asp-for="PreorderForm.State" class="control-label"></label>
                                                            <input asp-for="PreorderForm.State" class="form-control" />
                                                            <span asp-validation-for="PreorderForm.State" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label asp-for="PreorderForm.ZipCode" class="control-label"></label>
                                                            <input asp-for="PreorderForm.ZipCode" class="form-control" />
                                                            <span asp-validation-for="PreorderForm.ZipCode" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label asp-for="PreorderForm.Country" class="control-label"></label>
                                                            <input asp-for="PreorderForm.Country" class="form-control" />
                                                            <span asp-validation-for="PreorderForm.Country" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label asp-for="PreorderForm.Quantity" class="control-label"></label>
                                                            <input asp-for="PreorderForm.Quantity" class="form-control" />
                                                            <span asp-validation-for="PreorderForm.Quantity" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="submit" value="Submit Order" class="btn btn-primary" />
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </section>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
 