

@if (TempData["fullname"] == "pppppp")
{
    <title>Pre Order on Gender and Development in Nigeria: Concepts, Issues and Strategies by Prof. O.J Para-Mallam, mni</title>
    <meta property="og:title" content="Pre Order on Gender and Development in Nigeria: Concepts, Issues and Strategies by Prof. O.J Para-Mallam, mni">
}
else
{
    <title>@ViewData["Title"] | Prof. Oluwafunmilayo J. Para-mallam, FCPA, MloD, mni</title>
    <meta property="og:title" content="Prof. Oluwafunmilayo J. Para-mallam, FCPA, MloD, mni">
}