@page
@model EvetWebsite.Areas.Admin.Pages.IDonations.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">NEW DONATION</h3>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Donation.FirstName" class="control-label"></label>
                        <input asp-for="Donation.FirstName" class="form-control" />
                        <span asp-validation-for="Donation.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Donation.LastName" class="control-label"></label>
                        <input asp-for="Donation.LastName" class="form-control" />
                        <span asp-validation-for="Donation.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Donation.Phone" class="control-label"></label>
                        <input asp-for="Donation.Phone" class="form-control" />
                        <span asp-validation-for="Donation.Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Donation.Email" class="control-label"></label>
                        <input asp-for="Donation.Email" class="form-control" />
                        <span asp-validation-for="Donation.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Donation.Office" class="control-label"></label>
                        <input asp-for="Donation.Office" class="form-control" />
                        <span asp-validation-for="Donation.Office" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Donation.Date" class="control-label"></label>
                        <input asp-for="Donation.Date" class="form-control" />
                        <span asp-validation-for="Donation.Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Donation.Note" class="control-label"></label>
                        <input asp-for="Donation.Note" class="form-control" />
                        <span asp-validation-for="Donation.Note" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Donation.ApprovedBy" class="control-label"></label>
                        <input asp-for="Donation.ApprovedBy" class="form-control" />
                        <span asp-validation-for="Donation.ApprovedBy" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Donation.Status" class="control-label"></label>
                        @Html.DropDownListFor(model => model.Donation.Status, new SelectList(Enum.GetValues(typeof(EvetWebsite.Data.Models.Status))), new { @class = "form-control" })
                        <span asp-validation-for="Donation.Status" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Donation.PaymentType" class="control-label"></label>
                        @Html.DropDownListFor(model => model.Donation.PaymentType, new SelectList(Enum.GetValues(typeof(EvetWebsite.Data.Models.PaymentType))), new { @class = "form-control" })
                        <span asp-validation-for="Donation.PaymentType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                        <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>

                    </div>
                </form>
            </div>
        </div>


        <!-- /.row -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
